# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/static
/model/*
/tmp/*
/__pycache__/*
/instance/project.db
/venv/*
/services/__pycache__/
.env
.idea/
.cospec/
.github/
project.db
server.log
temp_tasks/
*.log
