# 核心Web框架
Flask==2.3.2
Flask-CORS==4.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0

# 数据库
SQLAlchemy==2.0.21

# HTTP请求 (支持Socks代理)
Requests==2.31.0
requests[socks]

# 工具库
pytz
gunicorn
Werkzeug==2.3.7
